absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astunparse==1.6.3
attrs==26.1.0
banks==2.4.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.7
cycler==0.12.1
dataclasses-json==0.6.7
Deprecated==1.3.1
dirtyjson==1.0.8
distro==1.9.0
duckduckgo_search==8.1.1
exceptiongroup==1.3.1
fastapi==0.136.0
fastmcp==2.3.3
filetype==1.2.0
flatbuffers==25.12.19
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.3.0
gast==0.7.0
google-pasta==0.2.0
greenlet==3.4.0
griffe==2.0.2
griffecli==2.0.2
griffelib==2.0.2
grpcio==1.80.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
Jinja2==3.1.6
jiter==0.14.0
joblib==1.5.3
jsonpatch==1.33
jsonpath-python==1.1.5
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.14.0
kiwisolver==1.5.0
langchain==1.2.15
langchain-classic==1.0.4
langchain-community==0.4.1
langchain-core==1.3.0
langchain-mcp-adapters==0.2.2
langchain-ollama==1.1.0
langchain-openrouter==0.2.1
langchain-text-splitters==1.1.2
langgraph==1.1.8
langgraph-checkpoint==4.0.2
langgraph-prebuilt==1.0.10
langgraph-sdk==0.3.13
langsmith==0.7.32
libclang==18.1.1
llama-index==0.14.20
llama-index-core==0.14.20
llama-index-embeddings-openai==0.6.0
llama-index-instrumentation==0.5.0
llama-index-llms-ollama==0.10.1
llama-index-llms-openai==0.7.5
llama-index-workflows==2.19.0
langchain-openai==1.2.0
lxml==6.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
mcp==1.27.0
mdurl==0.1.2
ml_dtypes==0.5.4
multidict==6.7.1
mypy_extensions==1.1.0
namex==0.1.0
neo4j==6.1.0
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.4
numpy==2.4.4
ollama==0.6.1
openai==2.32.0
openapi-pydantic==0.5.1
openrouter==0.9.1
opt_einsum==3.4.0
optree==0.19.0
orjson==3.11.8
ormsgpack==1.12.2
packaging==26.1
pandas==3.0.2
pillow==12.2.0
platformdirs==4.9.6
primp==1.2.2
propcache==0.4.1
protobuf==7.34.1
psycopg2-binary==2.9.11
pycparser==3.0
pydantic==2.13.2
pydantic_core==2.46.2
pydantic-settings==2.13.1
Pygments==2.20.0
PyJWT==2.12.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.26
pytz==2026.1.post1
# pywin32 only for Windows
pywin32; platform_system == "Windows"
PyYAML==6.0.3
referencing==0.37.0
regex==2026.4.4
requests==2.32.5
requests-toolbelt==1.0.0
rich==15.0.0
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.49
sse-starlette==3.3.4
starlette==1.0.0
tenacity==9.1.4
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tinytag==2.2.1
tqdm==4.67.3
typer==0.24.1
typing_extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2026.1
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.44.0
websockets==16.0
wrapt==2.1.2
xxhash==3.6.0
yarl==1.23.0
zstandard==0.25.0
